<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <title>Table</title>
    {% load admin_interface_extras %}
    {% load dates %}
    {% load staticfiles %}
    
    <meta charset="utf-8">
    <!-- Internet Explorer meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- First Mobile meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/tableQuery.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/Scheherazade-Regular.ttf' %}" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    
    <!-- start navbar -->
    {% include "public/navbar-user.html" %}
    <!-- end navbar -->
    <section class="all-content nj-container">
        <div class="hidden-xs left">
            <div class="ad-block">
                <a href="#"><img src="{% static 'pic/adv300x250.jpg' %}"></a> 
            </div>
        </div>

        <div class="content-part">
            <div class="Horizontal-adv">
                <img src="{% static 'pic/adv-xs.jpg' %}">
            </div>
            <h1 class="headText">استعلام من جدول القسم</h1>
            <div class="query-div">
                <form method="POST" action="{% url 'web_query_table' %}">
                    {% csrf_token %}
                    <div class="formBlock">
                        <p>اختر الدكتور</p>
                        <div class="options-box">
                            {% for prof in table.professors %}
                                <div class="form-group">
                                    <label for="professors{{ prof.id }}" class="checkLable"><input type="checkbox" name="professors" value="{{ prof.id }}" id="professors{{ prof.id }}">{{ prof.name }}</label>
                                    <!-- <a href="{% url 'display_doctor' prof.id %}">{{ prof.name }}</a> -->
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="formBlock">
                        <p>المواد المتاحة</p>
                        <div class="options-box">
                            {% for topic in table.available_topics %}
                                <div class="form-group">
                                    <label for="topics{{ topic.id }}" class="checkLable"><input type="checkbox" name="topics" value="{{ topic.id }}" id="topics{{ topic.id }}">{{ topic.name }}</label>
                                    
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="formBlock">
                        <p>اختر فترات</p>
                        <div class="options-box">
                            {% for period in '123456' %}
                                <div class="form-group">
                                    <label for="periods{{ forloop.counter0 }}" class="checkLable"><input type="checkbox" name="periods" value="{{ forloop.counter0 }}" id="periods{{ forloop.counter0 }}">{{ forloop.counter }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="formBlock">
                    <p>اختر يوم</p>
                    <div class="options-box">
                        {% for day in '1234567' %}
                            <div class="form-group">
                                <label for="days{{ forloop.counter0 }}" class="checkLable"><input type="checkbox" name="days" value="{{ forloop.counter0 }}" id="days{{ forloop.counter0 }}">{{ forloop.counter0|num_to_day }}</label>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="submit-div">
                        <input type="submit" name="query" class="nj-btn" value="استعلام" />
                    </div>
                    

                </form>
            </div>
            
        </div>
    </section>
    
    <script>
        $('.checkLable').click(function(){
            if($(this).children('input').is(":checked")){
                $(this).css('background-color','#a6bfcc');
            }else{
                $(this).css('background-color','#E1E2E1');
            }
        });
    </script>
</body>
</html>