<!DOCTYPE html>
<html dir="rtl" lang="ar">
	<head>
        
        {% include "public/GoogleAnalytics.html" %}
        
		{% load static %}
		{% load staticfiles %}
		{% load dates %}
	   
		<meta charset="utf-8">
		<title>Najiba | نجيبه</title>
		<!-- Internet Explorer meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- First Mobile meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap -->
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"> 
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/home.css' %}" rel="stylesheet">
		<link href="{% static 'fonts/Scheherazade-Regular.ttf' %}" rel="stylesheet">
		<!-- owl-carousel -->
		<link href="{% static 'OwlCarousel/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'OwlCarousel/owl.carousel.min.css' %}" rel="stylesheet">
		<link href="{% static 'OwlCarousel/owl.theme.default.min.css' %}" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

		<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
        <script>
          $(document).ready(function() {
              var department_slug = document.getElementById('user-department').value
              var faculty_slug = document.getElementById('user-faculty').value
              var university_slug = document.getElementById('user-university').value
              var OneSignal = window.OneSignal || [];
              OneSignal.push(function () {
                  OneSignal.init({
                      appId: "895c028d-2df9-4e48-8ba4-e3ed08a4ea8c",
                      autoRegister: false,
                      notifyButton: {
                          enable: true,
                      },
                  });
                  // Getting user department so that it can be segmented.
                  OneSignal.sendTags({
                      department: department_slug,
                      faculty: faculty_slug,
                      university: university_slug
                  });
              });
          });
        </script>
	</head>
	<body>
		
		{% if user.is_authenticated %}
            <input type="hidden" id="user-department" value="{{ user.profile.department.slug }}" />
		    <input type="hidden" id="user-faculty" value="{{ user.profile.faculty.slug }}" />
            <input type="hidden" id="user-university" value="{{ user.profile.university.slug }}" />
			{% if profile_error %}
				<h1>{{ profile_error }}</h1>
			{% endif%}

			<!-- start navbar -->
			{% include "public/navbar-user.html" %}
			<!-- end navbar -->
			<!-- start page content -->
			<section class="content-section">
				<div id="notifi-section">
					
					<div class="row">
						<div class="col-md-4 col-xs-12 team">
							{% if request.user.profile.department.team %}
								<div class="team-head">
									<img src="{{ request.scheme }}://{{ request.get_host }}/{% get_media_prefix %}{{ request.user.profile.department.team.logo }}"/>
									<p>{{ request.user.profile.department.team.name }}</p>
								</div>
								<div class="team-body">
									<p>{{ request.user.profile.department.team.desc }}</p>
								</div>
							{% else %}
								<div style="height:76px;">
									المحتوى ده بيتقدم ليك من ناس جدعان!
								</div>
							{% endif %}
						</div>
						<div class="col-md-8 col-xs-12 tasks">
                                {% if not tasks and not events %}
									<p>مفيش عندك أي تاسكات أو ايفنتات الفترة الجاية، عيش يا معلم :)</p>
								{% endif %}
							<div class="owl-carousel">
								{% if tasks %}
									{% for task in tasks %}          
										<div class="carousel-element">
											<div class="card card-event">
												<div class="card-header">
													<div class="card-title">
														<b class="name">{{ task.name }}</b>
														<span class="label label-danger">{{ task.deadline|date_to_day }}</span>
													</div>
												</div>
												<div class="card-block">
													<p>
														{{ task.content }}
													</p>
												</div>
											</div>
										</div>
									{% endfor %}
								{% endif %}
								{% if events %}
									{% for event in events %}          
										<div class="carousel-element">
											<div class="card card-event">
												<div class="card-header-event">
													<div class="card-title">
														<b class="name">{{ event.name }}</b>
														<span class="label label-danger">{{ event.deadline|date_to_day }}</span>
													</div>
												</div>
												<div class="card-block">
													<p>
														{{ event.content }}
													</p>
												</div>
											</div>
										</div>
									{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				
				<div class="nj-container">                
					<div class="left">
						<div class="ad-block">
							<a href="#"><img src="{% static 'pic/adv300x250.jpg' %}"></a> 
						</div>
					</div>

					<div class="content-part">
						<div class="Horizontal-adv">
							<img src="{% static 'pic/adv-xs.jpg' %}">
						</div>
						{% if primary %}
							{% for material in primary %}
								<div class="content-element">

									<div class="head">
										<p>{{ material.topic.name }}</p>
									</div>
									<div class="content">
										<div class="row">
											<div class="col-xs-2 col-sm-4"><a class="link_icon" href="{{ material.link }}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></div>
											<div class="col-sm-4 hidden-xs"><p>{{ material.user.username }}</p></div>
                                            <div class="col-xs-10 col-sm-4"><p>{{ material.name }}</p></div>
										</div>

									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</section>
			<!-- end page content -->

		{% else %}
				<p>Welcome, new user. Please log in.</p>
				<a href="{% url 'web_signup' %}" id="id_sign_up">sign up</a>
				<a href="{% url 'login' %}" id="id_sign_in">sign in</a>
		{% endif %}
		<script src="{% static 'js/home.js' %}"></script>
		<!-- owl-carousel -->
		<script src="{% static 'OwlCarousel/owl.carousel.min.js' %}"></script>
	</body>
</html>