<!DOCTYPE html>
<html dir="rtl" lang="ar">
    <head>
        {% load staticfiles %}
    
        <meta charset="utf-8">
        <title>Najiba | نجيبه</title>
        <!-- Internet Explorer meta -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- First Mobile meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/home.css' %}" rel="stylesheet">
        <link href="{% static 'fonts/Scheherazade-Regular.ttf' %}" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="js/html5shiv.min.js"></script>
            <script src="js/respond.min.js"></script>
        <![endif]-->

        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        
        {% if user.is_authenticated %}
        
            {% if profile_error %}
                <h1>{{ profile_error }}</h1>
            {% endif%}

            <!-- start navbar -->
            {% include "public/navbar-user.html" %}
            <!-- end navbar -->
            <!-- start page content -->
            <section class="home-section">
                <div id="notifi-section">
                    <!--
                    <div class="notifi-icon-div">
                        <i class="fa fa-bullhorn announc-icon" aria-hidden="true"></i>
                    </div>
                    -->
                    <div id="carousel-div">
                        <div id="myCarousel" class="vertical-slider carousel vertical slide" data-ride="carousel">
                            
                            
                            <!-- Carousel items -->
                            <div class="carousel-inner ">

                                <!--/item-->
                                <div class="item active">
                                    
                                        <div class="item-content">
                                            <div class="note-element">
                                                <div class="note-head">
                                                    <p>اختبار نظم تشغيل</p>
                                                    <p class="note-time">2017/4/25<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </p>
                                                </div>
                                                <div class="note-content">
                                                    <p>تم تحديد موعد اختبار نظم التشغيل يوم الثلاثاء</p>
                                                </div>
                                            </div>
                                            <div class="note-element">
                                                <div class="note-head">
                                                    <p>اختبار نظم تشغيل</p>
                                                    <p class="note-time">2017/4/25<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </p>
                                                </div>
                                                <div class="note-content">
                                                    <p>تم تحديد موعد اختبار نظم التشغيل يوم الثلاثاء</p>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <!--/item-->

                                <!--/item-->
                                <div class="item ">
                                        <div class="item-content">
                                            <div class="note-element">
                                                <div class="note-head">
                                                    <p>اختبار نظم تشغيل</p>
                                                    <p class="note-time">2017/4/25<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </p>
                                                </div>
                                                <div class="note-content">
                                                    <p>تم تحديد موعد اختبار نظم التشغيل يوم الثلاثاء</p>
                                                </div>
                                            </div>
                                            <div class="note-element">
                                                <div class="note-head">
                                                    <p>اختبار نظم تشغيل2</p>
                                                    <p class="note-time">2017/4/25<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </p>
                                                </div>
                                                <div class="note-content">
                                                    <p>تم تحديد موعد اختبار نظم التشغيل يوم الثلاثاء</p>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <!--/item-->

                            </div>
                            
                        </div>
                    </div>
                    
                    <div id="arrows">
                        <div>
                            <span data-slide="next" class="btn-vertical-slider fa fa-arrow-circle-up"
                            style="font-size: 30px"></span><br>
                            <span data-slide="prev" class="btn-vertical-slider fa fa-arrow-circle-down"style="color: Black; font-size: 30px"></span>
                        </div>
                    </div>
                    
                </div>
                
                <div id="container-content" class="container">                
                    <div id="out-row">
                        <div class="hidden-xs left-home">
                            <div class="adv-part">
                                <div class="ad-block">
                                    <a href="#"><img src="{% static 'pic/adv.jpg' %}"></a> 
                                </div>
                            </div>
                        </div>
                        
                        <div class="content-part">
                            <div class="adv-xs hidden-md">
                                <img src="{% static 'pic/adv-xs.jpg' %}">
                            </div>

                            <div class="content-element">
                                <div class="head">
                                    <p>الاسبوع الاول | ذكاء صناعى</p>
                                </div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-4"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                        <div class="col-xs-4"><p>عنوان المحاضرة</p></div>
                                        <div class="col-xs-4"><p>المحاضرة</p></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end page content -->

        {% else %}
                <p>Welcome, new user. Please log in.</p>
                <a href="{% url 'web_signup' %}" id="id_sign_up">sign up</a>
                <a href="{% url 'login' %}" id="id_sign_in">sign in</a>
        {% endif %}
        <script src="{% static 'js/home.js' %}"></script>
    </body>
</html>