<!DOCTYPE html>
<html>
<head>
	<title>Bala7</title>
</head>
<body>
	<h1>num of signup stage: {{ stage_num }}</h1>
	<form id="id_registeration_form" action="{% url 'web_signup_second_form'%}" method="post">
		<select id="id_select_university" name="selected_university">
			{% for university in universities %}
				<option class="university_name">{{ university.name }}</option>
			{% endfor %}
		</select>
		<select id="id_select_faculty" name="selected_faculty">
			{% for faculty in faculties %}
				<option class="faculty_name" name="{{ faculty.university.name }}_{{ faculty.name }}" id="{{ faculty.id }}">{{ faculty.name }}</option>
			{% endfor %}
		</select>
		<select id="id_select_department" name="selected_department">
			{% for department in departments %}
				<option class="department_name" id="{{ department.id }}" name="{{ department.faculty.name }}_{{ department.name }}">{{ department.name }}</option>
			{% endfor %}
		</select>
		<input type="submit" name="submit_signup_data" id="id_submit_signup_data" />
	</form>
	<hr />
	<form id="id_notify_form" action="{% url 'thankyou' %}">
		<input type="email" name="future_notification_email" id="id_future_notify">
		<input type="text" name="future_notification_university" id="id_future_university">
		<input type="text" name="future_notification_faculty" id="id_future_faculty">
		<input type="submit" name="future_notification_submit" id="id_future_form_submit">
	</form>
	<hr />
	<a href="{% url 'web_signin' %}" id="id_signin_side"></a>
</body>
</html>