<!DOCTYPE html>
<html>
<head>
	<title>Bala7</title>
</head>
	<body>
		<h1>num of signup stage: {{ stage_num }}</h1>

		<form id="id_registeration_form" action="{% url 'web_signup_second_form' %}" method="post">
			{% csrf_token %}
			<ul>
				{{ form.as_ul }}
			</ul>
			<input type="hidden" name="university" value="{{ first_form.university }}" />
			<input type="hidden" name="faculty" value="{{ first_form.faculty }}" />
			<input type="hidden" name="department" value="{{ first_form.department }}" />
			<input type="submit" name="submit_second_form" />
		</form>
		<hr />
		<a href="{% url 'web_signin' %}" id="id_signin_side"></a>
	</body>
</html>