<!doctype html>
<html dir="rtl" lang="ar">
    <head>
        <meta charset="utf-8">
        <title>Najiba | نجيبه</title>
        <!-- Internet Explorer meta -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- First Mobile meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link href="css/bootstrap.css" rel="stylesheet"> 
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/reg.css" rel="stylesheet">
        <link href="fonts/Scheherazade-Regular.ttf" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </head>
<body>

    
    <!-- start navbar -->
    {% include "public/navbar1.html" %}
    <!-- end navbar -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 nj-box  login-outer-div ">
             
            <div class="title done"> 
                <p class="text-center" style="margin:0px;margin-top:20px;">تم استلام بياناتك بنجاح و سوف نتواصل معك عند اضافة كليتك</p>
            </div>
        </div>
    </div>
    
    
</body>
</html>