@media (max-width:991px){

.adv-xs{
    margin-bottom: 80px;
    }
}
.content-section{
    margin-top: 90px;
}
#doc-box{
    padding-top: 30px;
    border: 2px solid #F0F0F0;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 90px;
}
#doc-box img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #f3f3f3;
    position: relative;
    margin-top: -110px;  
    
}
#doc-box img:hover{
    border: 3px solid #a6bfcc;
    transition: 1s ease;
}
#doc-box b ,#doc-box p{
    display: block;
}
#doc-topics{
    height: auto;
}
#doc-topics p{
    position: relative;
    background-color: #a6bfcc;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

.topic{
    text-align: center !important;
    float: right;
    position: relative;
    background-color: #a6bfcc;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    border: 1px solid #f3f3f3;
}
.topic .label{
    margin-top: 3px;
}

.fname{
    border: 1px solid #d9edf7;
}
.r-float{
    float: right;
}