/*------------------------------------------- start home section ------------------------------------------*/
.container{
    margin-top: 0px;
}
/*- start control -*/
.user-section{
    display: none;
}
/*- end control --*/

/*--start notifi section -*/
#notifi-section{
    margin-top: 70px;
    background-color:#a6bfcc;
    padding: 10px 15px;
    height: 300px;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.card{
    height: 130px;
    border: 1px solid #fff;
    background-color: #fff;
    margin-bottom: 10px;
}
.card-header {
    border-bottom: 1px solid #fff;  
    padding:5px;
}
.card-block{
    padding:5px;
}
.card span{
    padding: 5px 5px;
    float: left;
}
.card-event{
    border: 2px solid #D9EDF7;
}
.card-event .card-header{
    background-color: #D9EDF7;
}
.card-task{
    border: 2px solid #F2DEDE;
}
.card-task .card-header{
    background-color: #F2DEDE;
}
.tasks .fl{
    float: right;
}
.team{
    text-align: center;
    border: 2px solid #F0F0F0;
    height: 200px;
    margin-top: 70px;
    margin-bottom: 10px;
}
.team img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #f3f3f3;
    position: relative;
    margin-top: -75px;
}
.team img:hover{
    border: 3px solid #6de5d0;
    transition: 1s ease;
}
.team b{
    margin-top: 10px;
    display: block;
}
.team .social{
    font-size: 50px;
}
.social a{
    text-decoration: none;
    color: #000;
}
.fa-facebook-square:hover{
    color: #3B5998;
}
.fa-twitter-square:hover{
    color: #1B95E0;
}
.fa-envelope:hover{
    color: #EA4335;
}
/*--end notifi section -*/


/*------- start content part -------*/
/*- start content element -*/
.content-section .content-part .content-element{
}
.content-section .content-part .content-element .head{
    background-color: #a6bfcc;
    border: 1px solid #a6bfcc;
}
.content-section .content-part .content-element .head p{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0px;
}
.content-section .content-part .content-element .content{
    background-color: #fff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px; 
    border-right: 3px solid #a6bfcc;  
    border-left: 3px solid #a6bfcc;  
    border-bottom: 3px solid #a6bfcc;  

}
.content-section .content-part .content-element .content div{
    vertical-align: top;
}
.content-section .content-part .content-element .content div p{
    font-weight: bold;
    margin: 0px;
}
.link_icon{
    color: #000;
}
.link_icon:hover{
    color: #46c9b6;
}
/*--end content element -*/


/*------- end content part ---------*/

/*------------------------------------------- end home section --------------------------------------------*/
