.container{
    background-color: #E9EAEA;
    padding-right: 10% !important;
    padding-left: 10% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    height: auto;
}
.log{
    margin-bottom: 50px;
}
.title{
    font-size: 30px;
    margin-bottom: 30px;
}
.wel-pic{
    float: right !important;
    margin: auto;
    text-align: center;
}
.wel-pic img{
    height: 300px;
    vertical-align: middle;
}
#remember-check{
    float: right;
    padding: 0px;
}
#remember-check input{
    height: 13px;
}
.inline{
   width: auto;
    display: inline;
}
.log-btn{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;    
    border: 0px;
}
.log-option{
    vertical-align: middle;
    margin-left: 0px;
    display: block;
    text-align: center;
}
.social-log{
    font-size: 35px;
    display: inline-block;
    vertical-align: middle;
    
}
.title-2{
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
}
.fb:hover{
    color: #3B5998;
}
.tw:hover{
    color: #44A1DA;
}


.pass-forget-link:hover,.new-acc-link:hover{
    color: #46c9b6;
    
}
.pass-forget-link{
    text-decoration: none !important;
    color: #000;
    float: left;

}
.new-acc-link{
    text-decoration: none !important;
    color: #000;
    float: left;
}

