@media (max-width:767px){
    .navbar{
        height: 54px;
    }
}
.container{
    background-color: #E9EBEE;
}

.title{
    font-size: 30px;
    margin-bottom: 30px;
}
.login-outer-div{
    border: 3px solid #64c1ff;    
    box-shadow: 1px 1px 10px #888;
}
.form-group{
    margin-bottom: 10px;
}
.log-label{
    display: inline-table;
    width: 40%;
    max-width: 35%;
}
.nj-input{
    width: 60%;
}
.log-btn{
    width: 50%;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;    
    border: 0px;
}
.log-option{
    vertical-align: middle;
    float:left;
    margin-top: 10px;
    margin-left: 20px;
}
.social-log{
    font-size: 35px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    
}
.title-2{
    margin-right: 10px;
    font-size: 25px;
    display: inline-block;
    width: 120px;
}
.fb:hover{
    color: #3B5998;
}
.tw:hover{
    color: #44A1DA;
}
@media (max-width:620px){
    .log-btn{
        width: 100%;
    }
    .log-option{
        text-align: center;
        display: block;
        float: none;
        margin-top: 0px;
    }
    .log-label{
    display: inline-table;
    width: 50%;
    max-width: 100%;
    }
    .nj-input{
        width: 100%;
        float: left;
    }
    .remember-label{
        width: 0px;
    }

}
.break-line{
    border-top: 2px dashed #d7d7d7;
    margin-bottom: 10px;
    margin-top: 10px;
}
.break-line-v{
    border-left: 5px solid #000;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}
.pass-forget-link:hover,.new-acc-link:hover{
    color: #64c1ff;
    
}
.pass-forget-link{
    text-decoration: none !important;
    color: #000;
    float: right;
    padding-left: 30px;
}
.new-acc-link{
    text-decoration: none !important;
    color: #000;
    float: left;
}

@media (max-width:500px){
    
    .pass-forget-link{
        text-decoration: none !important;
        display: block;
        text-align: center;
        float: none;
        margin-right: 35px;
    }
    .new-acc-link{
        text-decoration: none !important;
        display: block;
        float: none;  
        text-align: center;
    }
}