body{
    background-color: #E9EAEA;
}
.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
  
}
.navbar li{
    list-style: none;
    display: inline-block;
}
.navbar ul {
    display: inline-block;
}
.navbar #logo{
    display: inline-block;
    position: absolute;
<<<<<<< HEAD
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 50px;
    width: 39px;
}
.navbar #logo img{
    height: 50px;
    width: 39px;
=======
    left: 50%;
}
.navbar #logo img{
    height: 50px;
>>>>>>> 83a879074306f5aa48b2972d1cfb428b9b7c119c
    cursor: pointer;
}
.navbar ul li a {
    text-decoration: none;
}