.container{
    background-color: #E9EAEA;
    padding-right: 10% !important;
    padding-left: 10% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    height: auto;
}
.reg{
    margin-bottom: 50px;
}
.wel-pic{
    float: right !important;
    margin: auto;
    text-align: center;
}
.wel-pic img{
    height: 300px;
    vertical-align: middle;
}
.title{
    font-size: 30px;
    margin-bottom: 30px;
    vertical-align: middle;
}
.nj-label{
    display: block;
    font-size: 24px;
}
.have-acc{
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
    vertical-align: middle;
}
.form-group #ask{
    display: inline;
    text-decoration: none;
    font-size: 15px;
    color: red;
}
.form-group #ask:hover{
    text-decoration: none;
    font-size: 15px;
    color: #46c9b6;
}
.inline{
    display:inline;
}
.have-acc-link{
    color: #000;
    text-decoration: underline;
}
.have-acc-link:hover{
    color: #46c9b6;
}

.sad-pic{
    float: left!important;
    margin: auto;
    text-align: center;
}
.sad-pic img{
    height: 300px;
    vertical-align: middle;
}

.new-symbol{
    vertical-align: middle;
}

.notfound-box{
    margin-top: 0px;
    margin-bottom: 30px;
}

.next-btn{
    float: left;
    border: 0px;
    border-radius: 0px;
    height: 46px;
    width: auto;
    width: 100%;
    margin-top: 10px;
}
.back-btn{
    float: right;
}


.log-option{
    vertical-align: middle;
    margin-left: 0px;
    display: block;
}
.social-log{
    font-size: 35px;
    display: inline-block;
    vertical-align: middle;
    
}
.title-2{
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
}
.fb:hover{
    color: #3B5998;
}
.tw:hover{
    color: #44A1DA;
}


.not-found1{
    margin-bottom: 0px;
    font-size: 30px;
}
.not-found2{
    margin-right:50px;
    margin-top: 0px;
    font-size: 22px;
    margin-bottom: 10px;
}
.reset-msg{
    text-align: center;
    font-size: 28px;
}