@import url('https://fonts.googleapis.com/css?family=Cairo');

body{
    background-color: #E9EAEA;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
}
.container{
    background-color: #E9EAEA;
    min-height: calc(100vh - 80px);
    margin-top: 90px;
}
.nj-container{
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
}
button{
    border: 0px;
    font-weight: normal;
}
a:hover, a:active, a:open, a:visited{
    text-decoration: none;   
}

/* START Header Section */
.navbar #logo{
    display: inline-block;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 50px;
    width: 39px;
}
.navbar #logo img{
    height: 50px;
    width: 39px;
    cursor: pointer;
}
.navbar{
    background-color: #fff; 
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px;
    border: 0px solid #000;
}
.navbar-left{
    position: absolute;
    left: 20px;
    text-align: left;
}
.navbar-left > li >a >i{
    padding: 0px !important;
}
#nj-nav > ul{
    padding: 0px;
}
#nj-nav > ul.nav.navbar-nav.navbar-right > li.dropdown.open > a ,
#nj-nav > ul.nav.navbar-nav.navbar-left > li > a{
    background-image: none;
    padding-left: 0px;
}
#nj-nav > ul > li{
    float: right;
}
.navbar li{
    list-style: none;
    display: inline-block;
}
#nj-nav > ul > li >a{
    color: #000;
    font-size:20px ;
    padding-left: 20px;
}
#nj-nav > ul > li >a:first-of-type{
    padding-right: 20px;
    width: 100%;
    text-align: right;
}
@media (max-width:992px){
    #nj-nav > ul > li >a{
    padding-left: 0px;
}
}
#nj-nav > ul > li >a >i{
    padding-left: 5px;
    vertical-align: middle;
}
#nj-nav > ul > li :hover{
    color: #46c9b6;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background: none;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
    background-color: rgba(0,0,0,0);
    box-shadow:none;  
}
.dropdown-menu {
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}
.dropdown-menu > li > a {
    text-align: right;
    font-size: 20px;
}
.dropdown-menu > li > a > i {
    margin-left: 8px;
}
.dropdown-menu > li>a:hover{
    width: 100%;
    height: 100%;
    color: #46c9b6;
    right: 0px;
}  
.dropdown-menu li{
    width: 100%;
}
.dropdown-menu li{
    margin-top: 2px;
    margin-bottom: 2px;
}
/*xs*/
@media (max-width:767px){
    .navbar{
        height: 70px;
    }
    .navbar-nav{
        margin-top: 0px;
    }
#nj-nav > ul.nav.navbar-nav.navbar-right > li.dropdown,
#nj-nav > ul.nav.navbar-nav.navbar-right > li.dropdown:hover,
#nj-nav > ul.nav.navbar-nav.navbar-right > li.dropdown:active,
#nj-nav > ul.nav.navbar-nav.navbar-right > li.dropdown:focus{
    background-color: #fff;
    color: #46c9b6;

}
    #nj-nav > ul{
        padding: 0px;
        background-color: #fff;
    }
    #nj-nav > ul > li {
        width: 100%;
    }
    #nj-nav > ul > li > a{
        text-align: center;
        width: 110px;
        padding: 10px 5px;
    }
    
    #nj-nav > ul > li > a:hover{
        color: #46c9b6;
    }
    .xs-nav-icons{
        display: inline-block;
        float: left;
        padding: 0px 0px 0px 5px;
        margin: 0px;
    }
    .xs-nav-icons li{
        padding: 10px 5px;
        float: left;
        display: table-cell;
        color: #fff;
    }
    .xs-nav-icons > li > a > i{
        color: #fff;
    }
    .dropdown-menu > li{
        float: right;
        margin: 0px;
        padding: 0px;
        padding-top: 5px;
        width: 100%;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li{
        padding-right: 25px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a,
     .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
        color: #000;
        text-align: right;
    }
    .nav-fa-xs{
        padding-left: 5px;
        text-align: right;
        float: right;
    }
    .navbar-default .navbar-toggle{
        margin: 10px;
    }
   #nj-nav > ul.nav.navbar-nav.navbar-right > li{
        width: 100%;
        
    } 
    
}
/* END Header Section */

.nj-btn> a{
    text-decoration: none;
    color: inherit;
}
.nj-btn{
    color: #fff;
    background-color: #34B3A0;
    border: 2px solid #34B3A0;
    
    font-size: 20px;
    padding: 3px 20px;
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
    -webkit-transition: all .5s ease; /* Safari */
    transition: all .5s ease;
}
.nj-btn:hover{
    color:#fff;
    background-color: #46c9b6;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #46c9b6;
    
    -webkit-transform: translate(0px, -2px); /* Safari */
    transform: translate(0px, -2px);
}

.nj-btn-log{
    background-color: transparent;
    border: 2px solid #34B3A0;
    color: #34B3A0 !important;
}
.nj-btn-log:hover{
    color: #fff !important;
    background-color: #46c9b6;
    border: 2px solid #46c9b6;
}
.nj-box{
    background-color: #fff;
    padding: 30px;
    margin-top: 30px;
    border: 3px solid #a6bfcc;
}
input{
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #aebdc1;
    transition: border-color 0.2s ease-in-out;
    line-height: 22px;
    box-sizing: border-box;
    color: inherit;
    text-indent: 0.8rem;
    padding: 1.1rem 10px;
    outline: none;
    margin: 0px;
    font-size: 20px !important;
    overflow: hidden;
}
input:focus,input:active{
    border: 1px solid #46c9b6 !important;
}

.form-control:focus{
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; 
    border: 1px solid #46c9b6 !important;
}
option{
        border: 1px solid #46c9b6 !important;

}
input:focus{
    outline: none;
    border: 1px solid #46c9b6 !important;

}
select{
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
select:focus{
    outline: none;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
select{   
    width: 100%;
    display: block;
    cursor:pointer;
    border: 1px solid #aebdc1;   
    height: auto!important;
    font-size: 20px;
    border-radius: 3px;
    transition: border-color 0.2s ease-in-out;
    line-height: 22px;
    box-sizing: border-box;
    color: inherit;
    font-size: 16px !important;
    text-indent: 0.8rem;
    outline: none;
}

.form-error-p{
    color: red;
    text-align: center;
}

/* page structure */
/*------- start adv part -------*/
.content-part{
    width: calc(100% - 360px);
    background-color: #fff;
    float: right;
    height: auto;
    padding: 20px;
}
@media (max-width:1199px){
    .content-part{
        width: 100%;
    }
}

.left{
    width: 340px;
    background-color: #fff;
    padding: 20px;
    float: left;
    margin-right: 20px;
    user-select: none;
}

.left > .ad-block{
    width: 300px;
}
.left > .ad-block  img{
    width: 100%;
}
@media (max-width:1199px){
    .left{
        display: none;
    }
}
/*------- end adv part ---------*/
/*- start adv-xs -*/
.Horizontal-adv{
    display: none;
    width: 320px;
    max-width: 100%;
    height: 100px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}
@media (max-width:1199px) {
    .Horizontal-adv {
        display: block;
    }

    .Horizontal-adv img {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 767px){
    .xs-nav-icons > li > a > i {
        color: #000;
    }
    .dropdown-menu > li > a {
        font-size: 14px;
    }
}

/*- end adv-xs -*/
/* page structure */
@font-face{
    font-family: Coiny;
    src:url('../fonts/Coiny-Regular.ttf');
}
@font-face{
    font-family: Courgette;
    src:url('../fonts/Courgette-Regular.ttf');
}

*{
    user-select: none;
}
.flex-div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.h-txt{
    font-family: Coiny;
    font-size: 24px;
    color: #444;
}

body{
    background-color: #F1F4F5;
    padding-bottom: 30px;
}

.nabbar{
    background-color: #fff;
    height: 65px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);

    margin-bottom: 30px;
}

.big-box{
    overflow: auto;
    position: relative;
    height: 630px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out;
}
.big-box:hover{
    box-shadow: 4px 4px 8px rgba(0,0,0,.2);
    transform: translateY(-5px);
}
.big-box > .h-txt{
    margin: 15px 25px;
}
.big-box > div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.tall-box{
    font-family: Coiny;
    position: relative;
    height: 300px;
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}
.tall-box:hover{
    box-shadow: 4px 4px 8px rgba(0,0,0,.2);
    transform: translateY(-5px);
}
.tall-box > div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.mini-box{
    font-family: Coiny;
    position: relative;
    height: 134px;
    border-radius: 0px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}
.mini-box:hover{
    box-shadow: 4px 4px 8px rgba(0,0,0,.2);
    transform: translateY(-5px);
}
.mini-box > div{
    font-family: Courgette;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-25%);
    text-align: center;
}
.mini-box > i{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 16px;
    color: #fff;
}
.mini-box > div > span{
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #fff;
}
.mini-box > div > p{
    font-size: 18px;
    color: #fff;
}
.small-block{
    position: relative;
    height: 134px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out;
}
.small-block:hover{
    box-shadow: 4px 4px 8px rgba(0,0,0,.2);
    transform: translateY(-5px);
}
.small-block > div{
    font-family: Courgette;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}
.small-block > div > i{
    font-size: 40px;
    color: #777;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}
.small-block > div > p{
    font-size: 18px;
    color: #888;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}
.small-block:hover > div > p{
    color: #333;
}
.wide-box{
    height: 300px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out;
}
.wide-box:hover{
    box-shadow: 4px 4px 8px rgba(0,0,0,.2);
    transform: translateY(-5px);
}
.tech-box{
    position: relative;
    height: 100px;
    /*flex:1 1 auto;*/
    flex-basis: calc(10% - 2px);
    border-radius: 0px;
    background-color: #11C26D;
    margin: 1px;
    transition: all 0.5s ease-in-out;
}
.tech-box:hover{
    box-shadow: 4px 4px 8px rgba(0,0,0,.2);
    transform: translateY(-2px);
    z-index: 2;
}
.tech-box > div{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}
.tech-box > div > p{
    font-family: Courgette;
    font-size: 18px;
    color: #fff;
    transition: all 0.5s ease-in-out;
}
.tech-box:hover  > div > p{
    color: #fff;
}
/*sm*/
@media (min-width:768px) and (max-width:991px){
    .tech-box{
        flex-basis: calc(20% - 2px);
    }
}
/*xs*/
@media (max-width:767px){
    .tech-box{
        flex-basis: calc(33.3333% - 2px);
    }
}

div.p3{
    background-color: #3E8EF7;
}
div.p3 > i{
    right: 17px;
    font-size: 22px;
    color: #fff;
}
div.p3 > div > span{
    color: #fff;
}
div.p3 > div > p{
    color: #fff;
}
div.p4{
    background-color: #9463F7;
}
div.p5{
    width: 50%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
div.p5 > div > p{
    color: #444;
    font-size: 28px;
    text-align: center;
}
div.p5 > div > p > i{
    color: #444;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}
div.p5:hover i{
    transform: scale(1.2,1.2);
}
div.p6{
    width: 50%;
    background-color: #F2353C;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
div.p6 > div > p{
    color: #fff;
    font-size: 28px;
    text-align: center;
}
div.p6 > div > p > i{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;
}
div.p6:hover i{
    transform: scale(1.2,1.2);
}
div.p7{
    background-color: #11C26D;
}
div.p8:hover > div > i{
    color: #333;
    transform: rotate(-25deg) translate(-50px,-50px) scale(1.5,1.5);
}
div.p9{
    background-color: #EB6709;
}
div.p9 > div > p{
    color: #fff;
}
div.p9 > div > i{
    font-size: 30px;
    color: #fff;
}
div.p9:hover > div > i{
    color: #333;
    /*transform: scale(1.3,1.3) translateY(3px);*/
}
div.p9:hover > div > p{
    color: #fff;
}
div.p9:hover > div > i{
    color: #fff;
}
div.p10{
    background-color: #3E8EF7;
    width: 33.333%;
}
div.p11{
    background-color: #FF4C52;
    width: 33.333%;
}
div.p12{
    background-color: #9463F7;
    width: 33.333%;
}

.developers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
.item{
    height: 350px;
    width: 250px;
    margin: 0 15px;
}
.img_out{
    width: 250px;
    height: 250px;
}
.img_out img{
    height: 100%;
    width: 100%;
    transition: 2s ease;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.details {
    text-align: center;
}
.details h3{
    font-size: 24px;
}
.details p{
    font-size: 20px;
}
.details ul{
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.details ul a{
    color: #fff;
    width: 50px;
    height: 50px;
    line-height:50px;
    display: inline-block;
    background-color: #34B3A0;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 2px;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
.details ul a:hover{
    border: 2px solid #34B3A0;
    background-color: #fff;
    color: #000;
}
.about_title{
    text-align: center;
    margin: 30px 0;
}
@media(max-width:1199px){
    .item{
        height: auto;
        margin-bottom: 50px;
    }
}
@media(max-width:1199px){
    .developers{
        flex-direction: column;
    }
    .item{
        margin: auto;
        margin-bottom: 50px;
    }
}
.partners *{
    direction: rtl;
    color: #000;
}
.univ *{
    text-align: center;direction: rtl;

}
.univ th{
    font-size: 20px;
}
.univ td{
    font-size: 16px;
}
.partners .nj-btn{
    color: #fff;
    margin: 30px auto;
    display: block;
    text-align: center;
}
.partners .nj-btn:hover{
    color: #000;
}