.all-content{
    margin-top: 65px;
    height: calc( 100vh - 65px);
}
/*xs*/
@media (max-width:767px){
    .all-content{
        margin-top: 54px;
        height: calc( 100vh - 54px);
    }
}
/*---------- start ads style ----------*/

.ads-section{float: left;display: inline-block;width: 330px;height: 100%;padding: 15px;}
.ads-section img{width: 300px;}
/*xs + sm*/
@media (max-width:1199px){
    .ads-section{display: none;}
}
/*-- xs ads --*/
.xs-ads{display: none;text-align: center;}
.xs-ads img{width: 320px;height: 100px;}
/*xs + sm*/
@media (max-width:1199px){
    .xs-ads{display: block;}
}

/*---------- end ads style ----------*/

/*---------- start content style ----------*/

.content-section{
    float: left;
    display: inline-block;
    width: calc(100% - 330px - 15px);
    min-height: calc(100% - 15px);
    margin: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 15px;
    background-color: #fff;
}
/*xs + sm*/
@media (max-width:1199px){
    .content-section{width: 100%;min-height: 100%;margin: 0px;padding: 10px;}
}


.table-h{
    margin: 15px;
    text-align: center;
}
/*-- start table style --*/
.userTable-div{
    text-align: center;
    overflow: auto;
}
.userTable-div > table{
    min-width: 760px;
    margin: auto;
    background-color: #fff;
    border-left: 2px solid #ccc;
}
.userTable-div > table tr{
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
}
.userTable-div > table  tr:hover {
    background-color: #F5F5F5;
}
.userTable-div > table  tr > th {
    background-color: #333;
    border: 2px solid #333;
    color: #fff;
    font-weight: 100;
    width: 65px;
    text-align: center;
}
.userTable-div > table  tr:hover > th {
    background-color: #444;
    border: 2px solid #444;
}
.userTable-div > table  tr:first-of-type > th{
    background-color: #333;
    border: 2px solid #333;
}
.userTable-div > table  tr > td{
    border-left: 1px solid #DDD;
    width: 200px;
    height: 100px;
    padding: 0px 5px;
}
.userTable-div > table  tr > td > p{
    border-top: 1px dashed #ddd;
    margin: 0px;
    padding: 5px 0px;
    line-height: 25px;
    font-size: 20px;
    font-weight: bold;
}
.userTable-div > table  tr > td > p:first-of-type{
    border-top: 0px dashed #ddd;
}
/*-- end table style --*/
.btns-div{
    margin-top: 30px; 
    margin-bottom: 30px;
    text-align: center;
}
.btns-div a{
    width: 137px;
}
/*---------- end content style ----------*/
