.all-content{
    margin-top: 65px;
    height: calc( 100vh - 65px);
}
/*xs*/
@media (max-width:767px){
    .all-content{
        margin-top: 54px;
        height: calc( 100vh - 54px);
    }
}
/*---------- start ads style ----------*/

.ads-section{float: left;display: inline-block;width: 330px;height: 100%;padding: 15px;}
.ads-section img{width: 300px;}
/*xs + sm*/
@media (max-width:1199px){
    .ads-section{display: none;}
}
/*-- xs ads --*/
.xs-ads{display: none;text-align: center;}
.xs-ads img{width: 320px;height: 100px;}
/*xs + sm*/
@media (max-width:1199px){
    .xs-ads{display: block;}
}

/*---------- end ads style ----------*/

/*---------- start content style ----------*/

.content-section{
    float: left;
    display: inline-block;
    width: calc(100% - 330px - 15px);
    min-height: calc(100% - 15px);
    margin: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 15px;
    background-color: #fff;
}
/*xs + sm*/
@media (max-width:1199px){
    .content-section{width: 100%;min-height: 100%;margin: 0px;padding: 10px;}
}

.headText{
    margin: 15px;
    margin-bottom: 30px;
    text-align: center;
}
.formBlock{
    padding: 0px;
    border: 2px solid #E9EBEE;
    margin-bottom: 15px;
}
.formBlock > p {
    margin: 0px;
    padding: 10px;
    padding-right: 25px;
    font-weight: bold;
    text-align: right;
    font-size: 28px;
    line-height: 25px;
    border-bottom: 1px solid #E9EBEE;
    background-color: #F6F7F9;
}
.formBlock .form-group{
    display: inline-block;
    margin: 0px 5px;
}
.options-box{
    padding: 30px;
}
.formBlock .form-group > label{
    background-color: #E1E2E1;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 0px;
    padding: 5px 15px;
    
    -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;
    user-select: none;  
}
.formBlock .form-group > label:hover{
    cursor: pointer;
}
.formBlock .form-group input{
    visibility: hidden;
    width: 1px;
    height: 1px;
}
.submit-div{
    text-align: center !important;
}



/*---------- end content style ----------*/
