.all-content{
    margin-top: 90px;
    height: calc( 100vh - 80px);
}
/*xs*/
@media (max-width:767px){
    .all-content{
        margin-top: 90px;
        height: calc( 100vh - 80px);
    }
}


/*---------- start content style ----------*/



.table-h{
    margin: 15px;
    text-align: center;
}
/*-- start table style --*/
.userTable-div{
    text-align: center;
    overflow: auto;
}
.userTable-div > table{
    min-width: 760px;
    margin: auto;
    background-color: #fff;
    border-left: 2px solid #ccc;
}
.userTable-div > table tr{
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
}
.userTable-div > table  tr:hover {
    background-color: #F5F5F5;
}
.userTable-div > table  tr > th {
    background-color: #333;
    border: 2px solid #333;
    color: #fff;
    font-weight: 100;
    width: 65px;
    text-align: center;
}
.userTable-div > table  tr:hover > th {
    background-color: #444;
    border: 2px solid #444;
}
.userTable-div > table  tr:first-of-type > th{
    background-color: #333;
    border: 2px solid #333;
}
.userTable-div > table  tr > td{
    border-left: 1px solid #DDD;
    width: 200px;
    height: 100px;
    padding: 0px 5px;
}
.userTable-div > table  tr > td > p{
    border-top: 1px dashed #ddd;
    margin: 0px;
    padding: 5px 0px;
    line-height: 25px;
    font-size: 20px;
    font-weight: bold;
}
.userTable-div > table  tr > td > p:first-of-type{
    border-top: 0px dashed #ddd;
}
/*-- end table style --*/
.btns-div{
    margin-top: 30px; 
    margin-bottom: 30px;
    text-align: center;
}
.btns-div a{
    margin-bottom: 5px;
}
/*---------- end content style ----------*/


/*----------------------------------------------------- another design --------------------------------------------*/
.left{
    margin-left: 20px;
}
.content-part{
    width: calc(100% - 400px);
    float: left;
}