.all-content{
    margin-top: 90px;
    height: calc( 100vh - 80px);
}
/*xs*/
@media (max-width:767px){
    .all-content{
        margin-top: 90px;
        height: calc( 100vh - 80px);
    }
}

/*---------- start content style ----------*/

.headText{
    margin: 15px;
    margin-bottom: 30px;
    text-align: center;
}
.formBlock{
    padding: 0px;
    border: 2px solid #a6bfcc;
    margin-bottom: 15px;
}
.formBlock > p {
    margin: 0px;
    padding: 10px;
    padding-right: 25px;
    font-weight: bold;
    text-align: right;
    font-size: 20px;
    line-height: 25px;
    border-bottom: 1px solid #a6bfcc;
    background-color: #a6bfcc;
}
.formBlock .form-group{
    display: inline-block;
    margin: 0px 5px;
}
.options-box{
    padding: 30px;
}
.formBlock .form-group > label{
    background-color: #E1E2E1;
    margin: 0px;
    padding: 5px 15px;
    margin-bottom: 5px;
    -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;
    user-select: none;  
}
.formBlock .form-group > label:hover{
    cursor: pointer;
}
.formBlock .form-group input{
    visibility: hidden;
    width: 1px;
    height: 1px;
}
.submit-div{
    text-align: center !important;
}



/*---------- end content style ----------*/
