input , button:focus{
    outline: none;
}
.content-section{
    margin-top: 65px;
    width: 100%;
    height: calc(100vh - 65px);
}
.content-section div{
    vertical-align: top;
}
/*----- start adv div -----*/
.adv-div{
    position: absolute;
    left: 0px;
    top: 65px;
    width: 330px;
    height: calc(100vh - 65px);
    padding: 15px;
}
.adv-div img{
    max-width: 100%;
}
/*xs*/
@media (max-width:1199px){
    .adv-div{
        display: none;
    }
}
/*----- end adv div --------*/

/*----- start center div ----*/
/*sm*/

.center-div{
    width: calc(100% - 330px - 25px);
    min-height: calc(100% - 65px);
    float: left;
    margin-left: 330px;
    margin-top: 15px;
    display: inline-block;
    z-index: 0;
    
    background-color: #fff;
    
    padding: 15px;
}
@media (max-width:1199px){
    .center-div{
        width: 100%;
        margin-left: 0px;
        padding-right: 25px;
    }
}
/*START TABS STYLE*/
.center-div .tabs .nav-heads{
    padding-right: 0px;
}
.center-div ul{
    padding-right: 0px;
    display: -webkit-flex; /* Safari */
    display: flex;
}
.center-div ul li {
    float: right;
    text-align: center;
    border: 0px solid #ddd;
    
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}
.center-div ul li a{
    border: 0px solid #ddd;
    border-radius: 0px;
    background-color: #d9edf7;
}
#content,#community{
    padding-top: 10px;
}

/*END TABS STYLE*/
/*START CONTENT STYLE*/
#add-week-btn{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
#new-week-box{
    display: none;
    width: 80%;
    border: 2px solid #E9EBEE;
    margin: auto;
    margin-bottom: 30px;
}
#new-week-box > .week-head{
    position: relative;
    background-color: #F6F7F9;
    padding: 5px 15px;
    border-bottom: 1px solid #E9EBEE;
}
#new-week-box > .week-head > .week-name{
    color: #365899;
    font-weight: bold;
    font-size: 26px;
    margin: 0px;
    line-height: 40px;
}
#new-week-box > .week-head i{
    color: #666;
    position: absolute;
    left: 15px;
    top: 12px;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}
#new-week-box > .week-head i:hover{
    cursor: pointer;
    color: #333;
}
.week-body{
    padding: 15px 30px;
}

#new-week-box > .week-body > p{
    padding: 0px 5px;
    display: inline-block;
    width: 49%;
}
.colon{
    position: absolute;
    left: 5px;
}
#new-week-box > .week-body > p > span:first-of-type{
    color: #365899;
    position: relative;
    display: inline-block;
    width: 110px;
}
#new-week-box input{
     width: calc(100% - 110px);
    padding: 5px;
}
#new-week-box > .week-footer{
    text-align: left;
    background-color: #F6F7F9;
    padding: 5px 15px;
    border-top: 1px solid #E9EBEE;
}
#new-week-box > .week-footer > button{
    height: 34px;
    line-height: 34px;
    padding: 0px;
    margin: 3px 0px;
    width: 100px;
}
/*xs*/
@media (max-width:767px){
    #add-week-btn{
      width: 150px !important;  
    }
    #new-week-box{
        width: 95%;
    }
    #new-week-box > .week-body > p{
        width: 100%;
    }
}


.panel-group .panel {
    border-radius: 0px;
    border: 2px solid #E9EBEE;
}
.panel-heading{
    border-radius: 0px;

}
.panel .panel-heading{
    position: relative;
    background-color: #d9edf7;
    border-bottom: 0px solid #ddd;
}
.panel .panel-heading:hover{
    cursor: pointer;
}
.panel .panel-heading .panel-title{
    font-size: 26px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0px;
}
.panel .panel-heading .panel-title a{
    text-decoration: none;
}
.panel-body{
    position: relative;
    background-color: #fff;
    text-align: center;
    padding: 0px;
    min-height: 60px;
}
.edit-div{
    position: relative;
    height: 50px;
    border-bottom: 1px solid #ddd;
}
.edit-week-icon{
    color: #666;
    position: absolute;
    left: 15px;
    top: 13px;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
    z-index: 999;
}
.edit-week-icon:hover{
    cursor: pointer;
    color: #333;
}
.panel-body > .edit-div > .fa-cog:hover{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}
.edit-week{
    display: none;
    padding: 30px 15px;
}
.edit-week > form{
    position: relative;
}
.edit-week p{
    display: inline-block;
    width: 49%;
    padding: 0px 10px;
}
.edit-week p span{
    display: inline-block;
}
.edit-week > form > p > span:first-of-type{
    text-align: right;
    position: relative;
    width: 110px;
}
.edit-week > form > p > span:last-of-type{
    padding: 0px;
    width: calc(100% - 110px);
}
.edit-week input{
    padding: 5px;
    width: 100%;
}
.edit-week > form > button{
    margin-top: 15px;
    width: 100px;
    padding: 0px;
}
/*xs*/
@media (max-width:767px){
    .edit-week > form > p{
        width: 100%;
        padding: 0px;
    } 
    .edit-week > form > p > span:first-of-type{
        vertical-align: top;
    }
    .edit-week > form > button{
        margin-top: 10px;
    }
}
.week-content{
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.content-row{
    padding: 0px 15px;
}
.assets{
    width: calc(100% - 30px);
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddd;
}
.assets-h{
    padding-right: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 24px;
    margin: 5px;
    border-bottom: 1px solid #ddd;
}
.assets-body{
    max-height: 70px;
    overflow: hidden;
    overflow-y: auto;  
}
.assets-body > .row{}
.assets-body > .row:hover{
    background-color: #eaeaea;
}
.assets-body > .row > div{
    float: right;
}
.assets-body > .row > div > p{
    margin: 0px;
}
.assets-time{
    font-size: 18px;
    color: #666;
    padding: 5px;
}
.assets-link i{
    vertical-align: middle;
}
/*END CONTENT STYLE*/

/* START COMMUNITY */
.nj-btn{
    width:40%;
    text-align: center;
}
.btn-div{
    text-align: center;
    margin-bottom: 10px;
}
.nj-label{
    width: 30%;
    vertical-align: middle;
}
.nj-input{
    display: inline-block;
    font-size: 20px;
    height: 40px;
}
.nj-textarea{
    display: inline-block;
    width: 68%;
    font-size: 20px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border: 2px solid #E9EBEE;
}
.nj-box{
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    background-color: #fff;
    border: 3px solid #ddd;
    margin-bottom: 10px;
}
.order-box{
    margin: auto;
    position: absolute;
    top: 75px;
    left: 0px;
    right: 0px;
    padding-top: 40px;
    z-index: 9999;
}
.order-box input{
    width: 68%;
}
/*xs*/
@media (max-width:767px){
    .order-box  input{
        width: 100%;
    }  
}
.share-box{
    margin: auto;
    position: absolute;
    top: 75px;
    left: 0px;
    right: 0px;
    padding-top: 40px;
    z-index: 9999;
}
.box-close-btn{
    position: absolute;
    top: 5px;
    right: 10px;
    
}
.box-close-btn:hover{
    cursor: pointer;
}
.share-box input{
    width: 68%;
}
/*xs*/
@media (max-width:767px){
    .share-box input{
        width: 100%;
    }  
}
.contribute{
    position: relative;
}
.nj-select{
    width: 68%;
    display: inline-block;
    cursor:pointer;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border: 2px solid #E9EBEE;   
    height: 40px;
    font-size: 20px;
    vertical-align: middle;
    padding-top: 0px;
}
.nj-select:focus{
    outline: none;
    border-color: #66afe9;
    box-shadow: 0px 0px 6px #66afe9;
}
#contribute-body{
    height: 100px;
}
#contribute-btn-send{
    width: 100%;
    margin-top: 5px;
}
@media (max-width:700px){
    .nj-label{
        display: inline-table;
        width: 100%;
        max-width: 100%;
        }
    .nj-input,.nj-select,.nj-textarea{
        width: 100%;
        float: left;
    }
}

.post{
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    border: 2px solid #E9EBEE;
}
/*xs*/
@media (max-width:767px){
    .post{
        width: 95%;
    }
}
.post-body{
    position: relative;
    background-color: #fff;
    border-bottom:  1px solid #E9EBEE;
}
.post-body .publisher-name{
    background-color: #F6F7F9;
    padding: 5px 15px;
    border-bottom:  1px solid #E9EBEE;
}
.post-body .publisher-name p{
    color: #365899;
    font-size: 28px;
    margin: 0px;
}
.post-body .post-time{
    position: absolute;
    left: 15px;
    top: 14px;
    
    font-size: 18px;
    color: #666;
}
.post-content{
    padding: 25px 30px;
}
.post-content p{
    margin: 0px;
}
.show-hide-comments{
    padding: 5px 15px;
    border-bottom:  1px solid #E9EBEE;
}
.show-hide-comments p{
    margin: 0px;
    display: inline-block;
}
.show-hide-comments p:hover{
    cursor: pointer;
    color: #555;
}
.write-comment{
    height: 51px;
    background-color: #F6F7F9;
    border-bottom:  1px solid #E9EBEE;
    padding: 5px;
}
.write-comment input{
    width: 100%;
    padding: 10px;
}
.post-comments{
    display: none;
    background-color: #F6F7F9;
    max-height: 300px;
    overflow-y: auto;
}
.comment{
    padding: 5px 15px;
    border-bottom:  1px solid #E9EBEE;
}
.comment:hover{
    background-color: #E9EBEE;
}
.comment .publisher-name{
    color: #365899;
    font-size: 28px;
    margin: 0px;
}
.comment-content{
    padding: 0px 15px;
    font-size: 22px;
}

/* END COMMUNITY */


.sm-md-ads{
    display: none;
    width: 100%;
    height: 90px;
    overflow: hidden;
    text-align: center;
    margin: 15px 0px;
}
/*sm & md*/
@media (min-width:768px) and (max-width:1199px){
    .sm-md-ads{
        display: block;
    }
}
.xs-ads{
    display: none;
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-align: center;
    margin: 15px 0px;
}
/*xs*/
@media (max-width:767px){
    .xs-ads{
        display: block;
    }
}

/*--- start requests ---*/
.request-view-box{
    width: 80%;
    border: 2px solid #E9EBEE;
    margin: auto;
    margin-top: 30px;
}
/*xs*/
@media (max-width:767px){
    .request-view-box{
        width: 95%;
    }
}
.request-head{
    position: relative;
    background-color: #F6F7F9;
    padding: 5px 15px;
    border-bottom: 1px solid #E9EBEE;
}
.request-head p{
    color: #365899;
    font-size: 28px;
    margin: 0px;
}
.request-head span{
    position: absolute;
    left: 15px;
    top: 14px;
    font-size: 18px;
    color: #666;
}
.request-body{
    padding: 25px 30px;
}
.request-body p{
    margin: 0px;
}
.request-footer{
    border-top: 1px solid #E9EBEE;
    background-color: #F6F7F9;
    padding: 5px 15px;
    text-align: left;
}
.request-footer button{
    height: 34px;
    line-height: 34px;
    padding: 0px;
    margin: 3px 0px;
    width: 100px;
}
.share-view-box{
    width: 80%;
    border: 2px solid #E9EBEE;
    margin: auto;
    margin-top: 30px;
}
/*xs*/
@media (max-width:767px){
    .share-view-box{
        width: 95%;
    }
}
.share-head{
    position: relative;
    background-color: #F6F7F9;
    padding: 5px 15px;
    border-bottom: 1px solid #E9EBEE;
}
.share-head p{
    color: #365899;
    font-size: 28px;
    margin: 0px;
}
.share-head span{
    position: absolute;
    left: 15px;
    top: 14px;
    font-size: 18px;
    color: #666;
}
.share-body{
    padding: 25px 30px;
}
.share-body > p{
    display: inline-block;
    width: 49%;
}
/*xs*/
@media (max-width:767px){
    .share-body > p{
        width: 100%;
    }
}
.share-body .colon{
    position: absolute;
    left: 0px;
}
.share-body > p > span:first-of-type{
    position: relative;
    color: #365899;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    width: 100px;
}
.share-footer{
    border-top: 1px solid #E9EBEE;
    background-color: #F6F7F9;
    padding: 5px 15px;
    text-align: left;
}
.share-footer button{
    height: 34px;
    line-height: 34px;
    padding: 0px;
    margin: 3px 0px;
    width: 100px;
}
/*--- end requests ---*/
/*----- end center div -------*/




/*----- start right div -----*/
.right-div{
    direction: ltr;
    position: fixed;
    right: -295px;
    top: 65px;
    width: 320px;
    height: calc(100vh - 65px);
    z-index: 1;
    display: inline-block;
}
.arrows-div{
    display: inline-block;
    width: 20px;
    height: 100%;
    
}
.elements-div{
    background-color: #1283cb;
    display: inline-block;
    width: calc(100% - 26px);
    height: 100%;
    overflow-y: auto;
}
.move-arrow{
    font-size: 30px;
}
.move-arrow:hover{
    color: #555;
    cursor: pointer;
}
#right-arrow{
    display: none;
    position: absolute;
    left: 0px;
    top: 45%;
}
#left-arrow{
    position: absolute;
    left: 0px;
    top: 45%;
}

.right-ele{
    direction: rtl;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    background-color: #fff;
}
.right-ele-head{
    background-image: url(../pic/temp-right-ele-head.png);
    background-size: 100% 100%;
    width: 100%;
    height: 60px;
}
.right-ele-head p{
    padding-top: 3px;
    text-align: center;
    color: #fff;
    font-size: 34px;
}
.right-ele-body{
    width: 100%;
    
}
.right-ele-body table{
    width: 100%;
}
.right-ele-body table th , td{
    padding: 0px;
    text-align: center;
}

.right-ele-body table td:nth-child(1), th:nth-child(1) { width: 55px; }
.right-ele-body table th:nth-child(2) { width: 145px; }
.right-ele-body table td:nth-child(2) { width: 145px; }
.right-ele-body table td:nth-child(3), th:nth-child(3) { width: 49px; }

.right-ele-body table td a i{    
    font-size: 20px;
    vertical-align: middle;
}
.right-ele-body table tbody{   
    display: block;
    overflow: auto;
    height: 150px;
    width: 290px;/*to make scroll bar out */
}
.right-ele-body table thead{    
    position: relative;
    display: block;
}
.materials-table-h th:nth-child(1){width: 200px;text-align: right;padding-right: 15px;}
.materials-table-h th:nth-child(2){width: 49px !important;}
.materials-table-b tr td:nth-child(1){width: 200px !important;text-align: right;padding-right: 15px;}
.materials-table-b tr td:nth-child(2){width: 49px !important;}
.doctor-name{
    background-color: #6FB353;
    border: 1px solid #fff;
}
.doctor-name p{
    margin: 0px;
    margin-bottom: 3px;
    text-align: center;
    color: #fff;
    font-size: 34px;
}
.doctor-name a:hover{
    text-decoration: none;
}
/*----- end right div --------*/