<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    {% load staticfiles %}
    
    <meta charset="utf-8">
    <title>Najiba | نجيبه</title>
    <!-- Internet Explorer meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- First Mobile meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/reg.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/Scheherazade-Regular.ttf' %}" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <!-- start navbar -->
    {% include "public/navbar1.html" %}
    <!-- end navbar -->
    
    <div class="container">
        {% if validlink %}
            <h3>تغيير الباسورد</h3>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">تغيير</button>
            </form>
            {% else %}
            <p>
                اللينك اللي انت استخدمته عشان تغير الباسورد مش صح، أو ممكن يكون تم استخدامه قبل كده.
                لو سمحت اعمل طلب جديد لتغيير الباسورد.
            </p>
        {% endif %}
    </div>
</body>
</html>